.mainDivQuads {
  background-image: url("/images/quad.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 45vh;
  position: relative;
  z-index: 1;
}

// .tituloRutas {
//   font-family: "Bonheur Royale", sans-serif;
//   font-weight: 400;
//   font-size: 3.5rem;
//   color: #471919;
//   text-align: center;
//   margin-top: 20px;
//   filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.5)); /* Sombra negra suave */
// }