@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Geomanist";
  src: url("/fonts/geomanist-black.ttf") format("truetype");
}

.mainDivSobreNosotros {
  background-image: url("/images/marruecos_sobre_nosotros.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 45vh;
  position: relative;
  z-index: 1;
}

.titleSobreNosotros {
  font-family: "Geomanist", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #1a2b49;
  text-align: center; // Centra el texto
  // margin-top: 2rem; // Añade margen superior
}

.subtitleTitleSobreNosotros {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #63687a;
  text-align: center; // Centra el texto
  // margin: 0 auto 2rem; // Centra y da margen inferior
  // display: block;
}

.salemText {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #63687a;
  text-align: center;
  margin: 1rem auto;
}

.divTitleFooter {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.titleFooter {
  font-family: "Geomanist", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  text-align: center; // Centra el texto

}

.salemTitle {
  font-family: "Geomanist", sans-serif;
  color: #1a2b49;
  // font-size: 2rem;
  letter-spacing: 1px;
}

.salemSubtitle {
  font-family: "Montserrat", sans-serif;
  // font-size: 1.3rem;
  letter-spacing: 1px;
  color: #63687a;
}

.salem3Paragraph{
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: rgba(187, 85, 1, 0.423);  
}

// @media (min-width: 1024px) {
//   .titleSobreNosotros {
//     // color: red;
//   }

//   .subtitleTitleSobreNosotros {
//     font-size: 1.5rem;
//   }

//   .salemText {
//     font-size: 1.2rem;
//   }

//   .salemTitle {
//     font-size: 2.5rem;
//   }

//   .salemSubtitle {
//     font-size: 1.5rem;
//   }

//   .salem3Paragraph {
//     font-size: 1.8rem;
//   }
// }