// html, body {
//   overflow-y: hidden;
// }

body {
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Edge */
}

.buttonDown {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%);
}
