@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Geomanist";
  src: url("/fonts/geomanist-black.ttf") format("truetype");
}

.tituloNinos {
  font-family: "Geomanist", sans-serif;
  font-weight: 500;
  // font-size: 5.5rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255);

  @media (min-width: 640px) {
    // sm
    font-size: 3rem; // text-5xl
  }

  @media (min-width: 768px) {
    // md
    font-size: 3.75rem; // text-6xl
  }

  @media (min-width: 1024px) {
    // lg
    font-size: 4.5rem; // text-7xl
  }

  @media (min-width: 1536px) {
    // 2xl
    font-size: 6rem; // text-8xl
  }
}

.subtitulo {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: rgb(8, 8, 8);
  text-align: center; // <-- Añade esto
  margin: 0 auto 2rem; // <-- Centra y da margen inferior
  display: block;
}

.mainDivViajarConNinos {
  background-image: url("/images/kids.png");
  background-size: cover;
  background-position: center 35%;
  background-repeat: no-repeat;
  height: 45vh;
  position: relative;
  z-index: 1;
}

.queOfrecemos {
  font-family: "Geomanist", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
  color: black;
}

.list {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: black;
  margin-left: 20px;
}

.list::before {
  content: "";
  display: block;
  width: 6.25rem;
  height: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  background-color: #64ccc9;
}

.seguridad {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: black;
}

.seguridad::before {
  content: "";
  display: block;
  width: 6.25rem;
  height: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  background-color: #64ccc9;
}

.contactanos {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

.titleMedida {
  font-family: "Geomanist", sans-serif;
  font-size: 2rem;
  color: black;
  text-transform: uppercase;
}

.footerNiños {
  background-color: #f4f5f5;
}
