@font-face {
  font-family: "Bonheur Royale";
  src: url("/fonts/BonheurRoyale-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

.titulo {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 2px;
  color: #471919;
  text-align: left;
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.3)); /* Sombra negra suave */
}

.subtituloSeccion1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #471919;
  text-align: left;
  // margin-top: 20px;
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.3)); /* Sombra negra suave */
}

.cardRutas {
  height: 68vh;
  width: 32vw;
  border-radius: 12px;
}

.textoFoto {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2.1rem;
  color: #fdf9f9;
  filter: drop-shadow(1px 1px 4px rgba(255, 255, 255, 0.4));
}

.rutasButton {
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 768px) {
  .titulo {
    font-size: 2rem;
    text-align: center;
  }
  .subtituloSeccion1 {
    font-size: 1.1rem;
    text-align: center;
  }
  .cardRutas {
    width: 90vw;
    min-width: 0;
    // height: 260px;
    margin: 0 auto 2rem auto;
  }
  .textoFoto {
    font-size: 1.1rem;
    text-align: center;
  }
  .rutasButton {
    top: 65% !important;
  }
}

@media (max-width: 480px) {
  .titulo {
    font-size: 1.3rem;
  }
  .subtituloSeccion1 {
    font-size: 1rem;
    text-align: center;
  }
  .cardRutas {
    // height: 200px;
  }
}

// @media (max-width: 768px) {
//   .mb-8 {
//     margin-bottom: 1rem !important;
//   }
//   .md\:mb-0 {
//     margin-bottom: 0 !important;
//   }
//   .relative.h-screen.flex.flex-col.md\:flex-row.justify-between.items-center.w-full.px-4.md\:pl-12 {
//     gap: 1.5rem !important;
//   }
// }